parserOptions:
    ecmaVersion: 6
rules:
  indent:
    - error
    - 2
    - SwitchCase: 1
  quotes:
    - error
    - single
  linebreak-style:
    - error
    - unix
  semi:
    - error
    - never
  no-return-assign:
    - error
    - always
  comma-dangle:
    - error
    - only-multiline
  strict:
    - error
    - global
env:
  es6: true
  node: true
extends: 'eslint:recommended'
